@if( actionMenuService.show() ) {

  <nav aria-label="Dock menu" class="way-action-menu curved-corner ">

    @if( (actionMenuService.config()?.selectedElements || 0) > 0 ) {
      <span class="text-white">
        Selected items: {{ actionMenuService.config()?.selectedElements || 0 }}
      </span>
    }

    @for( action of actionMenuService.config()?.actions; track action.id ) {
      <button mat-icon-button color="primary" [attr.aria-label]="action.label"
              [matTooltip]="action.label" matTooltipPosition="right"
              matTooltipClass="way-menu-tooltip" (click)="action.action()">
        <span class="material-icons">{{ action.icon }}</span>
      </button>
    }

  </nav>

}
