<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>MAMMAMIA CHART 1</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-bar-chart></app-bar-chart>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>MAMMAMIA CHART 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-stepped-line-chart></app-stepped-line-chart>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>MAMMAMIA CHART 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-stacked-line-chart></app-stacked-line-chart>
      </mat-card-content>
    </mat-card>
  </div>




<!--  <div>-->
<!--    <mat-card appearance="outlined">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>MAMMAMIA CHART 3</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->
<!--        <app-radar-chart></app-radar-chart>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
</div>
